<div class="full-page">
    <div>
        <header style="width:100%">
            <app-nav (logoutEvent)="hideMenu()" (menuToggleEvent)="toggleMenuVisibility()"></app-nav>
        </header>
        <div class="wrapper">
            <div style="display:flex">
                <div style="flex:5%">
                    <div *ngIf="menuVisible" [@menuAnimation]>
                        <app-menu></app-menu>
                    </div>
                </div>
                <div style="flex:95%;padding:4px;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>