.full-page {
    height: 100%;
    margin: 0;
}



.wrapper {
    min-height: 90vh;
}

.footer {
    // background-color: #333;
    // color: #fff;
    // padding: 20px 0;
    // text-align: center;
    // height: 50px;
    /*設定footer本身高度*/
    // margin-top: -50px;
    /*隨footer高度需做調整*/
    background-color: blue;
}